#book {
    margin-left: 20%;
    height: auto;
    overflow: hidden;
    text-align: center;
}

.bookLi {
    float: left;
    list-style: none;
    width: 250px;
    height: 200px;
    margin: 20px;
    text-align: center;
    display: block;
    background: white;
    border: solid 1px navajowhite;
}

.bookList {
    height: 300px;
    width: 1200px;
}

.bookList a {
    display: block;
    text-align: center;
    padding-top: 5px;
    color: #FFF;
    text-decoration: none;
}

.bookList li a img {
    display: block;
    margin: 0px auto;
}

.bookList li span {
    display: block;
    text-align: center;
    padding-top: 12px;
    font-size: 23px;
}
#book li:hover {
    background: #31b0d5;
}